@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --hero-background-color: #141414;
  --main-font: "Lora", serif;
  --secondary-font: "Inter", sans-serif;
  --merriweather-font: "Merriweather", serif;
  --rounded-radius: 200px;
  --button-padding: 10px;
  --secondary-text-color: #64ccc5;
  --service-box-bg: #f7f7f7;
  --section-bottom-space: 4em;
  --footer-heading-fontSize: 23px;
}